.table-container {
    border-radius: 15px;
    overflow: hidden;
   
    padding: 2rem;
}

.table {
    border-collapse: separate;
    border-spacing: 0;
    width: 100%;
    border-radius: 15px;
    padding: 2rem;
}

.table thead th {
    color: #800000;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.table tbody tr:last-child td:first-child {
    border-bottom-left-radius: 15px;
}

.table tbody tr:last-child td:last-child {
    border-bottom-right-radius: 15px;
}

.table td,
.table th {
    border: none;
}

.table th,
.table td {
    padding: 15px;
    text-align: left;
}

.bg-light {
    background-color: #f8f9fa !important;
}