body {
    width: 100%;
    height: 100vh;
    margin: 0;
    font-family: 'Della Respira', serif;
    background-image: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)), url("/images/background.png");
        background-attachment: fixed;
        background-size: cover;
        background-position: center;
  
    overflow-x: hidden;
}



.success-message {
    display: none;
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #28a745; /* Green background for success */
    color: white; /* White text color */
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.success-message.fade-out {
    opacity: 0;
    transition: opacity 1s ease-out;
}

.btn-group button.active {
    background-color: #007bff; /* Active button background color */
    color: white; /* Active button text color */
    border: 1px solid #007bff; /* Active button border color */
}

.btn-class.active {
    background-color: #007bff; /* Active class button background color */
    color: white; /* Active class button text color */
    border: 1px solid #007bff; /* Active class button border color */
}
