.container-fluid {
    display: flex;
    flex-wrap: wrap;
    padding: 2rem;
    border-radius: 10px;
    align-items: center; /* Center items vertically */
    justify-content: center; /* Center items horizontally */
}

.video-container,
.attendance-container {
    flex: 1;
    margin: 10px;
}

.clock-container {
    background-color: #ffffff;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 100%;
    max-width: 300px; /* Smaller width for better balance */
    margin: 0 auto;
}

.clock {
    font-size: 20px !important; /* Reduced size */
    font-family: 'Orbitron', sans-serif;
    color: #17D4FE;
    text-shadow: 0 0 5px #17D4FE, 0 0 10px #17D4FE;
    margin: 0;
    padding: 0;
}

.date {
    font-size: 20px; /* Smaller font for the date */
    font-family: 'Merriweather', serif;
    color: #333333;
    margin-bottom: 5px;
    letter-spacing: 0.5px;
    text-transform: capitalize;
    font-weight: 600 !important;
}



.button-container .btn-group {
    gap: 10px;
}

.button-container .btn {
    padding: 10px 20px;
    font-size: 14px;
    border-radius: 5px;
}


.video-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.table-container {
    width: 100%;
    
}


canvas {
    position: absolute;
}

.loader {
    border: 4px solid #f3f3f3;
    border-top: 4px solid #3498db;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 2s linear infinite;
    position: absolute;
    top: 46%;
    left: 44%;
    transform: translate(-50%, -50%);
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.button-container {
    margin-top: 15px;
}

.video-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#video {
    max-width: 100%;
    height: auto;
    border: 2px solid #ccc;
    border-radius: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#overlay {
    position: absolute;
    top: 0;
    left: 0;
}

.bttn, .bttn2 {
    position: relative;
    font-size: 17px;
    text-transform: uppercase;
    text-decoration: none;
    padding: 1em 2.5em;
    display: inline-block;
    border-radius: 6em;
    transition: all .2s;
    border: none;
    font-family: inherit;
    font-weight: 500;
    color: #386641;
    background-color: #fefae0;
}

.bttn:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    color: #fefae0;
    background-color: #386641;
}

.bttn2:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    color: #fefae0;
    background-color: #780000;
}

.clock {
    color: #17D4FE;
    font-size: 100px;
    font-family: Orbitron;
    letter-spacing: 7px;
    text-shadow: 1px 1px 2px #333;
}
