<% layout('/layouts/boilerplate') -%>
<link rel="stylesheet" href="/stylesheet/home.css">
<script src="https://kit.fontawesome.com/00e4d50ddc.js" crossorigin="anonymous"></script>

<body >
<div id="particles-js"></div>
<div class="container d-flex justify-content-center align-items-center">
<div class="row w-100 h-100 d-flex justify-content-center align-items-center">

<div class="col-md-9  d-flex justify-content-center align-items-center h-50 w-100">

        <h1 class="title">ATTENDANCE SYSTEM</h1>
</div>

<div class="col-md-9 d-flex justify-content-center align-items-center h-50 icons">
        <div class="row align-items-center w-100">
          <div class="col d-flex flex-column align-items-center">
                        <h5>Attendance</h5>
                        <a href="/attendance" class="d-flex flex-column align-items-center"><img src="/images/attendance.png" alt=""></a>
                </div>
                <div class="col d-flex flex-column align-items-center">
                        <h5>Log In/Log Out</h5>
                        <a href="/loginface" class="d-flex flex-column align-items-center"><img src="/images/auth.png" alt=""></a>
                </div>
        </div>
</div>


</div>

</div>

<script src="/javascript/particles.js"></script>
<script src="/javascript/app.js"></script>
</body>


