<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Face Recognation</title>

<link rel="stylesheet" href="/stylesheet/style.css">
</head>
<body>
<div id="loader" class="loader"></div>
    <video id="video" width="600" height="450" autoplay>

<script src="/javascript/face-api.min.js"></script>
<script src="/javascript/script.js"></script>
</body>
</html>