<% layout('/layouts/boilerplate') -%>
<link rel="stylesheet" href="/stylesheet/style.css">
<%- include('../partials/flash') %>

<div class="container scanner-page mt-5">
  <div class="row justify-content-center">
    <div class="col-md-8 text-center">
      <div id="success-message" class="success-message"></div>

      <div class="clock-container mb-4">
        <p id="date" class="date"></p>
        <p id="clock" class="clock"></p>
      </div>

      <div class="video-container">
        <div id="qr-reader" style="width: 100%; max-width: 600px; height: 450px;"></div>
        <div class="button-container mt-3">
          <div class="btn-group d-flex justify-content-center align-items-center" role="group" aria-label="Time Action">
            <button type="button" class="btn btn-secondary" data-action="timeIn">Time In</button>
            <button type="button" class="btn btn-secondary" data-action="timeOut">Time Out</button>
          </div>
          <div class="btn-group mt-3" role="group" aria-label="Class Selection">
            <button type="button" class="btn btn-secondary btn-class" data-class="Khmer Class (Full-Time)">Khmer Class (Full-Time)</button>
            <button type="button" class="btn btn-secondary btn-class" data-class="English Class (Full-Time)">English Class (Full-Time)</button>
            <button type="button" class="btn btn-secondary btn-class" data-class="English Class (Part-Time)">English Class (Part-Time)</button>
            <button type="button" class="btn btn-secondary btn-class" data-class="Office Hour (Part-Time)">Office Hour (Part-Time)</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.4/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment-timezone/0.5.39/moment-timezone-with-data.min.js"></script>
<script src="/socket.io/socket.io.js"></script>

<script src="/javascript/script.js"></script>
