<% layout('/layouts/boilerplate') -%>
  <link rel="stylesheet" href="/stylesheet/attendance.css">
  <div class="container">
    <div class="table-container">
      <div class="d-flex justify-content-end mb-2">
        <button id="download-excel" class="btn btn-success">Download Excel <i
            class="fas fa-file-excel ms-1"></i></button>
      </div>
      <table class="table align-middle mb-0 bg-white">
        <thead class="bg-light">
          <tr>
            <th colspan="3" class="text-center h2 p-3">
              <%= new Date(currentDate).toLocaleDateString([], { weekday: 'long' , year: 'numeric' , month: 'long' ,
                day: 'numeric' }) %>
            </th>
          </tr>
          <tr>
            <th>Name</th>
            <th>Time In</th>
            <th>Time Out</th>
          </tr>
        </thead>
        <tbody>
          <% for (const face of faces) { %>
            <tr>
              <td>
                <div class="d-flex align-items-center">
                  <div>
                    <p class="fw-bold mb-1">
                      <%= face.label %>
                    </p>
                  </div>
                </div>
              </td>
              <td>
                <% if (face.timeIn) { %>
                  <p class="fw-normal mb-1">
                    <%= new Date(face.timeIn).toLocaleTimeString([], { hour: '2-digit' , minute: '2-digit' }) %>
                  </p>
                  <% } else { %>
                    <p class="fw-normal mb-1">N/A</p>
                    <% } %>
              </td>
              <td>
                <% if (face.timeOut) { %>
                  <p class="fw-normal mb-1">
                    <%= new Date(face.timeOut).toLocaleTimeString([], { hour: '2-digit' , minute: '2-digit' }) %>
                  </p>
                  <% } else { %>
                    <p class="fw-normal mb-1">N/A</p>
                    <% } %>
              </td>
            </tr>
            <% } %>
        </tbody>
      </table>
    </div>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.17.0/xlsx.full.min.js"></script>
  <script>
    document.getElementById('download-excel').addEventListener('click', function () {
      var wb = XLSX.utils.book_new();
      var ws_data = [['Name', 'Time In', 'Time Out']];
      var rows = document.querySelectorAll('tbody tr');
      rows.forEach(row => {
        var name = row.cells[0].innerText;
        var timeIn = row.cells[1].innerText;
        var timeOut = row.cells[2].innerText;
        ws_data.push([name, timeIn, timeOut]);
      });
      var ws = XLSX.utils.aoa_to_sheet(ws_data);
      XLSX.utils.book_append_sheet(wb, ws, 'Attendance');
      XLSX.writeFile(wb, 'attendance.xlsx');
    });
  </script>